{% extends 'base.html' %}

{% block content %}
    <!-- Blog Posts -->
    
    <div class="row">
        <div class="col-md-8">
            <h2 class="pb-4">Featured Blog Posts</h2>
            <!-- Blog Post 1 -->
            {% if results %}
                {% for post in results %}
                    <div class="card mb-4">
                        <!-- <img src="blog-post-1.jpg" class="card-img-top" alt="Blog Post 1"> -->
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="text-muted small"><em>{{ post.publish }}</em> by {{ post.owner.username }}</p>
                            <p class="card-text">{{ post.body |truncatewords:30|linebreaks }}</p>
                            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                {% endfor %}    
            {% else %}
                
                {% for post in posts %}
            
                    <div class="card mb-4">
                        <!-- <img src="blog-post-1.jpg" class="card-img-top" alt="Blog Post 1"> -->
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="text-muted small"><em>{{ post.publish }}</em> by {{ post.owner.username }}</p>
                            <p class="card-text">{{ post.body |truncatewords:30|linebreaks }}</p>
                            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            
        </div>
        <div class="col-md-4">
            <!-- Sidebar -->
            <h2 class="pb-4">Upcoming Posts</h2>
            <!-- Upcoming Post 1 -->
            {% for post in upcoming %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.created_on }}</p>
                </div>
            </div>
            {% endfor %}
            <p><a href="{% url 'blog:post-feed' %}">Subscribe to my RSS Feed</a></p>
            
        </div>
    </div>
    <!-- {% for post in posts %}

        <a class=" link-underline link-underline-opacity-0" href="{% url 'blog:post-details' post.slug %}"><h3 class="display-6">{{ post.title }}</h3></a>
        <p class="text-body-secondary"><em>{{ post.publish }}</em></p>
        <p class="lead">{{ post.body | truncatewords:60 | linebreaks }}</p>
        

    {% endfor %} -->
    {% include 'pagination.html' %}
{% endblock content %}
    